@page "/user"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

<PageTitle>User</PageTitle>

<h1>User</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>